.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  margin-left: -1px;
}

.btn-outline-secondary {
  border: none;

  outline: none;
}

.btn-outline-secondary i {
  font-size: 10px;
}
